.next-prev-buttons{
  text-align: center;
  clear:both;
}

@media only screen 
and (min-width : 300px) 
and (max-width : 662px) {
  .next-prev-buttons{
    padding-top:20px;
    padding-bottom:20px;
  }

  .mobile-background-image-1{
    background-image: url("Backgrounds/Mobile/iphonex.png") !important;
  }
  .mobile-background-image-2{
    background-image: url("Backgrounds/Mobile/iphonex2.png") !important;
  }
  .mobile-background-image-3{
    background-image: url("Backgrounds/Mobile/iphonex3.png") !important;
  }

  .check-row{
    float:left;
    width:200px;
  }

  .check-row label{
    width:200px !important;
    font-size:25px;
  }

  .check-label {
    font-family: Interstate;
    color: #6D6D6D;
    padding-left: 25px;
    margin-left:0px !important;
  }

  .hero-image {
    background-image: url("./Backgrounds/Mobile/iphonex.png");
}
}

/* .tags{clear:both} */
.check-row{
  float:left;
  width:350px;
}

.check-row label, .check-row input{
  display:inline-block;
}
.check-row label{
  width:350px;
}

/* Font Styling */

.interstate {
    font-family: Interstate;
}

.interstate-bold {
    font-family: InterstateBold;
}

.interstate-light {
    font-family: InterstateLight;
}

@font-face {
    font-family: "Interstate";
    src: url("../Fonts/Interstate_Regular.ttf");
}
    
@font-face {
    font-family: "InterstateBold";
    src: url("../Fonts/Interstate_Bold.ttf");
}
    
@font-face {
    font-family: "InterstateLight";
    src: url("../Fonts/Interstate_Light.ttf");
}


/* Page Styling */
.splash-logo {
    width:80px;
    float: left !important; 
    margin: 30px;
}


.form-area {
  height:100vh;
  width: 100%;
  text-align: left;
}

@media only screen 
and (min-width : 300px) 
and (max-width : 662px) {
  .form-area {
      height:100%;
      text-align: left;
  }
}

.message {
    font-family: Interstate,sans-serif;
      color: #53565A;
      text-align:left;
      font-weight: 400;
      font-size: 4em;
      padding: 15px 10px 15px 10px; 
      display: -webkit-inline-box;
}

@media only screen 
and (min-width : 300px) 
and (max-width : 662px) {
    .message {
      font-family: Interstate,sans-serif;
        color: #53565A;
        text-align:left;
        font-weight: 400;
        font-size: 35px;
        padding: 15px 10px 15px 10px; 
        display: -webkit-inline-box;
  }
}

.rounded-btn-blue {
    border-radius: 25px;
    background-color: #056DAE;
    font-size: 1.8em;
    padding: 10px 30px;
    color: white;
    border:none;
}

.rounded-btn-blue:disabled {
  border-radius: 25px;
  background-color: lightgray;
  font-size: 1.8em;
  padding: 10px 30px;
  color: white;
  border:none;
}

.hero-image {
    background-image: url("./Backgrounds/Desktop/web.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.rounded-btn-white {
    background-color: white;
    border-radius: 25px;
    color: #53565A;
    padding: 10px 30px;
}    

/* selector styling for radio buttons */

.selector-box {
  margin-bottom: 3em;
  font-size: 3em;
  text-align:left;
}

@media only screen 
and (min-width : 300px) 
and (max-width : 662px) {
    .selector-box {
      font-size: 25px;
  }
}

.selector-label {
  font-family: Interstate;
  color: #6D6D6D;
  padding-left: 30px;
}

/* This is since Material Design uses a "before" and "after" hack to create custom radio buttons, since radio buttons cant contain elements */
.selector-label::before {
  transform:scale(3);
  top: 1.7rem !important;
}

/* same as before */
.selector-label::after {
  transform:scale(3);
  top: 1.7rem !important;
  background-image: none !important;
}

/* checkbox styling for major */

.check-box {
  height:300px;
  width:100%;
  margin-bottom: 3em;
  font-size: 3em;
  text-align:left;
  /* clear:both; */
}


.check-label {
  font-family: Interstate;
  color: #6D6D6D;
  padding-left: 25px;
  margin-left:50px;
}

.check-label::before {
  transform:scale(3);
  top: 1.7rem !important;
}

/* same as before */
.check-label::after {
  transform:scale(3);
  top: 1.7rem !important;
}


/* Results Card */

.results-card {
  text-align: center;
  display: none;
  width: 30em;
  margin:auto;
}

.results-card-icon {
  width: 100px;
  height: 100%;
  margin: 20px;
}

.results-card-title {
  font-family: Interstate,sans-serif;
  font-size: 3em;
  color:#6B6B6B;
  margin-bottom:20px;
}

.results-card-subtitle {
  font-family: Interstate,sans-serif;
  font-size: 1.5em;
  color:#6B6B6B;
}

/* Form Styling */
#regForm {
    /* background-color: #ffffff; */
    margin: 50px auto; 
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }


  @media only screen 
and (min-device-width : 300px) 
and (max-device-width : 662px) {
    #regForm {
      /* background-color: #ffffff; */
      margin: 50px auto;
      padding: 40px;
      width: 90%;
      min-width: 300px;
  }
}
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Interstate;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
    background-color:#056DAE;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #056DAE;
  }

  /* For the final step */
  .breakline {
    display: none;
  }

/* Footer Styling */

.footer-padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.footer-logo-container {
  height: 40px;
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  margin: 12px;
}
footer a {
  color: #fff!important;
  text-decoration: none;
}
.footer-nav-responsive {
  color: #fff;
  font-size: .95em;
  margin-right: 8px;
  font-family: InterstateLight!important;
  padding-left: 0;
}
.footer-social-container {
  height: 40px;
  max-height: 40px;
  width: 75%;
  display: inline-block;
  float: right;
  margin: 12px;
  color: #fff!important;
  text-align: right;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
}
.footer-social ul li {
  list-style: none!important;
  display: inline-block!important;
  white-space: nowrap!important;
  padding: 8px 10px;
  font-size: 1.3em;
}
.footer-social ul {
  padding: 0;
}
.footer-nav-responsive h3 {
  color: #fff;
  font-size: 1.2em;
  padding: 0 0 6px 0;
  font-family: InterstateBold;
}
.footer-nav-responsive li {
  list-style: none;
  font-size: 1.1em;
  padding: 6px 0 6px 0;
}
.footer-width{
max-width: 90%;
}
.footer-responsive {
  padding-top: 10px!important;
  border-bottom: solid thin #858585;
  padding-bottom: 20px!important;
  padding-left: 10px!important;
}
.footer-responsive li {
  display: inline-block;
  list-style: none;
  font-size: .9em;
  margin-right: 25px;
  font-family: InterstateLight!important;
}
p.copyright {
  margin: 15px 0 0;
  color: #fff;
}
.citilmFooterWrap{
padding-top:20px;
background-color:#333;
}

.qualification-arrow-desktop{
color: #00B3F0;
position: absolute;
right: -24px;
z-index: 1;
top: 50px;
font-size: 45px !important;
}

.qualification-arror-mobile{
color: #00B3F0;
position: absolute;
z-index: 1;
font-size: 40px !important;
left: 45%;
bottom: -19px
}

/* Mobile Responsive */

.dropdown-apply{
  background-image:url(../images/arrow-dropdown-down.svg);
  background-repeat: no-repeat; 
  padding-right: 42px;
  background-position: right 10px center;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 7px;
  font-size: 14px;
}
.about-us{
  padding-left: 70px !important;
}
select::-ms-expand {
    display: none;
}

@media only screen 
and (min-device-width : 420px) 
and (max-device-width : 662px) {
  .citi-menu ul li {
      width: 23% !important;
  }
}

@media only screen and (max-width: 420px) {
  .citi-menu ul li {
      font-size: 3.5vw !important;
      width: 23% !important;
  }
}

@media only screen and (max-width: 662px) {
  .about-us{
    padding-left: 6px !important;
  }
  #dynamic-citi-logo{
    display:none !important;
  }
  
  .dropdown-apply{
     font-size: 12px !important;
  }
  .dropdown-apply{
      left: 5px;
  }
  .main-citi-nav{
      padding-left: 0px !important;
  }
  .nav-width{
      padding-left: 0 !important;
  }
  .nav-apply {
    display: none !important;
  }
  .text-rectangle-first-col {
      width:30% !important;
      display:table-cell;;  
      text-align: center;     
  }
  .text-rectangle-second-col {
      width: 30% !important;
      display:table-cell;
      text-align: center;  
  }
  /* .disappear-phone {
    display:none !important;         
  } */
  .apply-button{
    top:60% !important;
  }
  .top_title {
    font-size: 6vw !important;
  }
  .mission_desc{
    font-size: 4vw !important;
  }
  .footer-social ul li {
      padding: 8px 5px !important;
  }
  .footer-mobile-only {
      display: inline-block!important;
  }
  .footer-nav-responsive h3 {
      padding: 15px 0 0px 20px !important;
      border-top: solid thin #858585;
  }
  .footer-nav-responsive div {
      padding: 15px 0 0px 20px !important;
      border-top: solid thin #858585;
  }
  .footer-responsive li {
      display: block !important;
      padding-left:20px !important;
  }
  .mission_desc{
    margin-top: 70px !important;
  }
  #margin-top-120 {
      margin-top: 140px !important;
  }

  .apply-text {
    font-size: 13px;
  }

  .apply-title {
    font-size: 15px;
  }

  .text-rectangle {
    text-align: center;
  }

}
@media only screen and (min-width: 650px) {

  .disappear-computer{
    display: none !important;
  }

  .apply-text{
    font-size: 16px;
  }

  .apply-title {
    font-size: 20px;
  }
}


.disapper-mobile{
   @media (max-width: @screen-sm-min) {
      display: none !important;
   }
}