.hero-image {
  background-image: url("Backgrounds/Desktop/TEP%20Desktop.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: inline-block;
}

.benefits-image {
  background-image: url("Backgrounds/Desktop/Benefits.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 120vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
}

.program-overview-image {
  background-image: url("Backgrounds/Desktop/Full-Time.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 85vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

.roles-styling {
    background-color: white; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    padding-top: 30px;
    display: inline-block;
}

.stats-image {
  background-image: url("Backgrounds/Desktop/Stats.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 90vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hiring-image {
    background-image: url("Backgrounds/Desktop/Hiring_Background.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 120vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

.locations-styling {
    background-color: #333333; /* Used if the image is unavailable */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.testimonial-styling {
    height: 80vh; /* You must set a specified height */
    display: inline;
}

.experience-styling {
    background-color: white;
    height: 110vh;
    display: inline-block;
}

.white-header{
    color: white;
    font-size: 45px;
}

.white-sub-header{
    color: white;
    font-size: 35px;
}

.white-font {
    color: white;
}

.yellow-header{
    color: #FFCD00;
    font-size: 45px;
}

.overflow{
    overflow: hidden;
}

.button-styling {
    background-color: #005AA1;
    border-radius: 100px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Interstate;
}

.hero-button-styling {
    background-color: #005AA1;
    border-radius: 100px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Interstate;
}

.right-side {
    position: absolute;
    right: 10%;    
    width: 600px;
    height: 120px;
} 

#wrapper ul {
    padding: 0;
    margin: auto;
    width: 80%;
    list-style-type: none;
}

#wrapper ul li {
    padding: 30px;
    margin-bottom: 20px;
    display: table;
}

#wrapper ul li img {
    float: left;
}

#wrapper ul li .details {
    width: 80%;
}

.list-margin {
    float: right; 
    margin-left:50%;
}

.container-spacing {
    margin-left: 5%;
}

.top-spacing {
    margin-top: 10%;
}

.top-header-spacing {
    margin-top: 3%;
}

.center{
    align-content: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.padding-top{
    padding-top: 10%;
}

.svg-scaling {
    width: 350px;
    height: 350px;
}

.svg-testimonials-scaling {
    width: 200px;
    height: 200px;
    max-width: 90%;
}

.svg-roles-scaling {
    width: 150px;
    height: 150px;
    max-width: 90%;
}

.svg-container-margins {
    margin-left: 5%;
    margin-right: 5%;
}

.interstate {
    font-family: Interstate;
}

.interstate-bold {
    font-family: InterstateBold;
}

.interstate-light {
    font-family: InterstateLight;
}

@font-face {
font-family: "Interstate";
src: url("../Fonts/Interstate_Regular.ttf");
}

@font-face {
font-family: "InterstateBold";
src: url("../Fonts/Interstate_Bold.ttf");
}

@font-face {
font-family: "InterstateLight";
src: url("../Fonts/Interstate_Light.ttf");
}

/* Mobile markup */

@media only screen and (max-width: 576px) {
    .hero-image {
        background-image: url("Backgrounds/Mobile/TEP_iPhone_8+.png"); /* The image used */
        height: 100vh; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
  }
@media only screen and (max-width: 576px) {
    .benefits-image {
        background-image: url("Backgrounds/Mobile/Hiring_Process.png"); /* The image used */
        height: 160vh; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        display: inline-block;
    }
}

@media only screen and (max-width: 576px) {
    .hiring-image {
        background-image: url("Backgrounds/Mobile/Hiring_Process.png"); /* The image used */
        height: 160vh; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        object-fit: cover;
    }
}

@media only screen and (max-width: 576px) {
    .list-margin { 
        margin: auto;
    }   
}

@media only screen and (max-width: 576px){
    #wrapper ul {
        padding: 0;
        margin-top: 120%;
        width: 100%;
        list-style-type: none;
    }
}

@media only screen and (max-width: 576px){
    #wrapper ul li {
        padding: 0px;
        margin-bottom: 20px;
        display: table;
    }
}

@media only screen and (max-width: 576px){
    #wrapper ul li img {
        float: center;
    }
}

@media only screen and (max-width: 576px){
    #wrapper ul li .details {
        width: 100%;
        text-align: left;
    }
}

@media only screen and (max-width: 576px){
    #wrapper ul li .details {
        width: 100%;
        text-align: left;
    }
}

@media only screen and (max-width: 576px){
    .center {
        align-content: center;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        
    }
}

@media only screen and (max-width: 576px) {
    .svg-scaling {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 576px) {
    .svg-roles-scaling {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 576px) {
    .button-styling {
        background-color: #005AA1;
        border-radius: 100px;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: Interstate;
        margin-left: 100px;
    }
}
